In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("all.csv")

In [42]:
data = list(df.values)

In [43]:
final_data = {}
for row in data:
    key = row[0], row[1], row[2]
    val = int(row[3])
    if key in final_data:
        final_data[key] = max(final_data[key], val)
    else:
        final_data[key] = val

In [44]:
len(final_data.keys())

54824

In [45]:
CODES = ["IXA","AGX","AGR","AMD","AJL","ATQ","IXU","AYJ","IXB","BEK","IXG","BLR","BHO","BBI","IXC","MAA","CJB","DBR","DED","DEL","DGH","DHM","DIB","DMU","DIU","RDP","GAY","GOI","GDB","GOP","GAU","GWL","HSR","HBX","HYD","IMF","IDR","HGI","JLR","JGB","JAI","JSA","IXJ","JRG","JDH","JRH","CDP","CNN","KNU","HJR","COK","KLH","CCU","CCJ","KJB","IXL","LKO","IXM","IXE","BOM","MYQ","NAG","ISK","GOX","PGH","PAT","IXZ","IXD","PNQ","RPR","RJA","RAJ","IXR","SXV","SHL","SAG","RQY","IXS","SXR","STV","TRV","TRZ","TIR","TCR","UDR","BDQ","VNS","VGA","VTZ"]
DAYS = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]

In [46]:
N = len(CODES)
counter = [None] * N
for ixf,from_c in enumerate(CODES):
    counter[ixf] = 0, from_c
    for to_c in CODES:
        if from_c!=to_c:
            for d in DAYS:
                counter[ixf]=counter[ixf][0] + final_data[to_c, from_c, d] , counter[ixf][1]

In [47]:
counter.sort()

In [48]:
df = pd.DataFrame(y)
df.to_csv("data_arrive.csv", index=False)

In [49]:
y = [(x[1], x[0]) for x in counter]

In [50]:
df = pd.DataFrame(list(final_data))
df

         0    1    2
0      IXA  AGX  Mon
1      IXA  AGX  Tue
2      AGX  IXA  Sun
3      IXA  AGX  Wed
4      AGX  IXA  Mon
...    ...  ...  ...
54819  VTZ  VGA  Wed
54820  VTZ  VGA  Thu
54821  VTZ  VGA  Fri
54822  VTZ  VGA  Sat
54823  IXA  AGX  Sun

[54824 rows x 3 columns]

In [51]:
cities = ["JGB","JRH","SXV","BEK","GAY","HJR","MYQ","PGH","HGI","DGH","DIU","JSA","KNU","SHL","RQY"]

In [52]:
N = len(CODES)
M = len(cities)
friends = [set()] * M
for ixf,from_c in enumerate(CODES):
    counter[ixf] = 0, from_c
    for to_c in CODES:
        if from_c!=to_c:
            if from_c in cities or to_c in cities:
                for d in DAYS:
                    counter[ixf]=counter[ixf][0] + final_data[from_c, to_c, d] + final_data[to_c, from_c, d], counter[ixf][1]